<a href="https://colab.research.google.com/github/hrxhit2214/data-science/blob/main/pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:


import pandas as pd  # Import the Pandas library

# Creating a simple DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)  # Convert dictionary into a DataFrame
print("Initial DataFrame:\n", df, "\n")

# Writing a DataFrame to a CSV file
df.to_csv('data.csv', index=False)  # Save the DataFrame to a CSV file without the index

# Reading the same CSV file (ensuring it exists)
df_csv = pd.read_csv('data.csv')  # Read the CSV file into a DataFrame
print("DataFrame read from CSV:\n", df_csv.head(), "\n")

# Selecting a specific column
ages = df['Age']  # Extract the 'Age' column
print("Selected Age column:\n", ages, "\n")

# Filtering rows based on a condition
filtered_df = df[df['Age'] > 28]  # Select rows where Age is greater than 28
print("Filtered DataFrame (Age > 28):\n", filtered_df, "\n")

# Adding a new column
df['Salary'] = [50000, 60000, 70000]  # Add a 'Salary' column to the DataFrame
print("DataFrame after adding Salary column:\n", df, "\n")

# Dropping a column
df = df.drop(columns=['City'])  # Remove the 'City' column from the DataFrame
print("DataFrame after dropping City column:\n", df, "\n")

# Getting summary statistics
print("Summary statistics:\n", df.describe(), "\n")

# Checking for missing values
print("Missing values in each column:\n", df.isnull().sum(), "\n")

Initial DataFrame:
       Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

DataFrame read from CSV:
       Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

Selected Age column:
 0    25
1    30
2    35
Name: Age, dtype: int64

Filtered DataFrame (Age > 28):
       Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

DataFrame after adding Salary column:
       Name  Age         City  Salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000

DataFrame after dropping City column:
       Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

Summary statistics:
         Age   Salary
count   3.0      3.0
mean   30.0  60000.0
std     5.0  10000.0
min    25.0  50000.0
25%    27.5  55000.0
50%    30.0  60000.0
75%    32.5  65000.0
max    35.0  70000.0

Missing values in each column:
 Name      0
Age       0
Salary    0
dtype: int64